<div class="Admin Dashboard">
    <div class="panel-heading">
      <h2>Hardware List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Hardware Name</th>
            <th>Status</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hardware of hardwares | async">
            <td>{{ hardware.hardwareName }}</td>
            <td>{{ hardware.status }}</td>
            <td>{{ hardware.quantity }}</td>
            <td><button (click)="hardwareDetails(hardware.hardwareID)" class="btn btn-info">Details</button></td>
           
          </tr>
        </tbody>
      </table>
      <button (click)="addHardware()" class="btn btn-info">Add Hardware</button>
    </div>
</div>